<div>
  <h2> {{ user.name }} </h2>
  <h4> {{ user.title }} </h4>
  <button *ngIf='isCollapse' (click)='toggleCollapse()'>Expand</button>
  <button *ngIf='!isCollapse' (click)='toggleCollapse()'>Collapse</button>
  <div class='address' *ngIf='!isCollapse'>
    <p> {{ user.address }} </p>
    <div *ngIf='user.phone.length'>
      <p *ngFor='let item of user.phone'> {{ item }} </p>
    </div>
  </div>
</div>
<div>
  <button (click)='myBtnClicked($event)'> Click </button>
</div>
<div>
  <input type='text' [(ngModel)]='inputText'>
  {{ inputText }}
</div>
<div>
  <span *ngIf="isCollapse; then condition2 else condition1">
    Condition is valid.
  </span>
  <ng-template #condition1>Condition is valid</ng-template>
  <ng-template #condition2>Condition is invalid</ng-template>
</div>